@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: #69496A;
}

.blog
{
    color: white;
    display: inline-block;
    font-family: 'Bruno Ace', cursive;
    font-size: 1.5rem;
    padding: 2rem;

}

.lista
{
    display: inline-block;
    color: white;
    position: absolute; 
        right: 3rem;
        top: 1.9rem;
    font-family: 'Quicksand', sans-serif;
        
}
    
.lista li
{
    display: inline-block;
    list-style: none;
    padding: 0.5rem;
}

.lista a
{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.lista li:hover 
{
    background-color: #9D3C72;
    border-radius: 1rem;
}

.parrafo
{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
}

/* Formularios */
.formulario
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 440px;
    border: none;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    background-color: #69496A;
    color: white;
}

.formulario .asesoramiento
{
    width: 100%;
    padding: 40px;
}

.asesoramiento h2
{
    font-size: 2em;
    text-align: center;
}

.formulario .input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
}

.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: white;
    font-weight: 500;
    pointer-events: none;
}


.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

input::placeholder
{
    color: white;
}
.asesoramiento .select-input
{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 1em;
    font-weight: 500;
    margin-top: 10px;
}

.asesoramiento select 
{
    height: 50%;
    font-size: 1em;
    margin-top: 5px;
}

.asesoramiento button
{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: white;
    border-radius: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
/* Final formularios */
footer
{
    background-color: #69496A;
    margin-top: 3rem;
}

footer .creditos
{
    font-size: 1rem;
    display: inline-block;
    color: white;
    padding: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

footer .lista-footer
{
    display: inline-block;
}

footer li
{
    display: inline-block;
    list-style: none;
    position: relative;
        left: 45rem; 
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

footer li:hover
{
    background-color: #9D3C72;
    border-radius: 1rem;
}

footer a
{
    padding: 1rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
}
